/*.work-sans-<uniquifier> {font-family: "Work Sans", sans-serif; font-optical-sizing: auto; font-weight: <weight>; font-style: normal; }*/

:root {
  --primary: #000;
  --white:#fff;
  --primary_rgb: 0,0,0;
  --white_rgb:255,255,255;
  --base_txt: "Work Sans", sans-serif;  
}

html{scroll-behavior: smooth;}
body{ font-family: "Work Sans", sans-serif; font-weight: 400; line-height: 150%;font-size: 1.125rem; scroll-behavior: smooth;}

h1, h2, h3, h4, h5 {font-family:  var(--heading_txt) !important; line-height: 1.3; font-weight: 800;} 
a, button{ text-decoration:none; cursor:pointer; }
.animate, a, .btn, .top_strip, .prod_favorite, top_strip.fixed-top .navbar-brand img, .top_strip.fixed-top .mb-0, .top_strip.fixed-top, .product_area img { transition:.5s ease all }
ul{ margin:0; padding:0; list-style:none }
input, select, button, input:focus, select:focus, button:hover{ box-shadow:none !important; outline:none !important }

/* width */
::-webkit-scrollbar {width: 5px; height:5px } 
/* Track */ 
::-webkit-scrollbar-track {background: #f1f1f1; } 
/* Handle */ 
::-webkit-scrollbar-thumb {background: #888; } 
/* Handle on hover */ 
::-webkit-scrollbar-thumb:hover {background: #555; }

.burger{ padding:100px 0 }
.burger-t{ padding-top:100px }
.burger-b{ padding-bottom:100px }

.btn{  padding:10px 30px }
.btn, .btn:hover, .btn:focus{border-radius:0; border: none; outline: none; box-shadow: none;}
.btn-primary{background:var(--primary); color:var(--white);}
.btn-primary:hover{ background:rgba(var(--primary_rgb), .6); }
.btn-outline-primary{border-color: var(--primary); color:var(--primary);}
.btn.btn-outline-light, .btn.btn-outline-primary{ border:2px solid; }
.btn-outline-light { border-color: var(--white); color:var(--white);}
.btn-outline-light:hover { background: var(--white); color:var(--primary);}
.btn-outline-primary:hover { background: var(--primary); color:var(--white);}

.bg_dark{ background:var(--primary); color:var(--white); }

/*Newletter modal*/
.modal-backdrop{ background:rgba(227,230,237, 0.7) }
.modal-body, .newsletter, .popup-cta, .newsletter__input-grou { position:relative; }
.modal.show .modal-dialog, .modal-content{ border:none }
.modal-body{ padding:40px; }
.modal-content{ border-radius:0}
.btn-close{ position:absolute; right:10px; top:10px }
.newsletter h2{ font-size:2rem; font-weight:400 }
.newsletter p, .text-close{ font-size:.75rem; line-height:120% }
.input-group-btn{ position:absolute; right:0; top:0 }
.text-close{ padding:0; background:none; border:none; outline:none; box-shadow:none; text-decoration:underline; }
.text-close:hover{ opacity:.6 }
.newsletter__input{ width:100%; padding:8px 10px; font-size: .875rem; border: 1px solid rgba(var(--primary_rgb), 0.1); outline: none; box-shadow: none}

/*Menu*/
.top_strip .bg-light{ background:var(--white) !important; margin-bottom:0; padding-bottom:0 }
.top_strip .nav-link, .megamenu li a, .footer a{ text-transform:uppercase; font-size:.75rem; font-weight:500;padding-left:20px !important; padding-right:20px !important; color:rgba(var(--primary_rgb),1) }
.top_strip .nav-link:hover, .megamenu li a:hover, , .footer a:hover{color:rgba(var(--primary_rgb),.7)}
.top_strip .nav-link{ border-bottom:1px solid transparent; }
.top_strip .nav-link:hover{  border-color:var(--primary); color:rgba(var(--primary_rgb),.5) }
.top_strip .navbar-brand img{ height:40px; width:auto; }
.search_bar img, .action_bar img{width: 18px; height: auto;}
.action_bar { display:flex; gap:15px }
.top_strip.fixed-top{ position:fixed; left:0; top:0 }
.top_strip.fixed-top .mb-4{ margin-bottom:0 !important;  }
.top_strip.fixed-top .navbar-brand img {height: 30px;}
.navbar-toggler-icon{width: 1em; height: 1em;}
.megamenu_link:hover .megamenu{ display:block; }
.megamenu{ display: none; box-shadow: 0 8px 6px -6px rgba(var(--primary_rgb),.07); background: var(--white); border-top: 1px solid #f5f5f5; float: none; position: absolute; top: 44px; left: 50%; transform: translate(-50%); padding: 50px 40px; z-index: 999; text-align: left; overflow: hidden; max-width: 100vw; width: 100%; overflow: auto;}
.megamenu h5, .footer h5{ font-weight: 600; font-size: 1rem; text-transform: uppercase;}
.megamenu ul{ margin-left:0; padding-left:0 }
.megamenu ul li a{ padding:5px 0 !important; display:block; color:var(--primary); }

/*Footer*/
.footer_action, .footer_action ul{ display:flex; justify-content:center; align-items: center; flex-wrap:wrap; }
.footer_action{ gap:20px; padding:10px 15px }
.footer_action ul{ gap:10px; }
.bottom_newsletter{ border:none; border-bottom:1px solid rgba(var(--primary_rgb),.2); box-shadow: none; outline:none; border-radius:0; padding-left:0; font-size: .75rem}
.footer li a{ padding-left:0 !important }
.socialmedia a i{ font-size:1rem; margin-right:10px }
.socialmedia a:hover{ opacity:1 }
.instagram:hover{ color: #f09433; }
.youtube:hover{ color: #FF0000}
.facebook:hover{ color: #3b5998}

/*Banner*/
header{overflow: hidden;}
.banner{ position: sticky; top: 0px; margin: 0; padding: 0; width: 100vw;  }
.banner:after{ content:''; position:absolute; left:0; top:0; width:100%; height:calc(100% - .5%); background:rgba(var(--primary_rgb),.6); }
.banner_txt{ position:absolute; top: 50%; left: 50%; width: 100%; transform: translate(-50%, -50%); z-index:1; color:var(--white); text-align:center; padding:150px 50px }
.banner_txt h1{ text-transform:uppercase; font-size: 3rem; font-weight: 600; margin-bottom:100px }
.banner_txt p{ font-weight:300; margin-bottom:30px }
.banner video{ width:100%; -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); }

/*Horizontal Slider*/

/*.horizontal-scroll-wrapper{ display:flex; gap: 20px; width: 100vw;  scroll-direction: horizontal; background:var(--primary); }  
.horizontal-scroll-wrapper .img{width:500px; height:auto;}
.horizontal-scroll-wrapper .img img{ width:100% }*/

.horizontal-scroll-wrapper { display: block; width: calc(500px + 1px); max-height: 100vw; margin: 0; padding-top: 1px; background: #abc; overflow-y: auto; overflow-x: hidden; transform: rotate(-90deg) translateY(-500px); transform-origin: right top; } 
.horizontal-scroll-wrapper > div {display: block; padding: 5px; background: #cab; transform: rotate(90deg); transform-origin: right top; } 
  /*.squares {padding: 500px 0 0 0; } 
  .squares > div {width: 500px; height:auto; margin: 10px 0; }*/

.highlight_cnt{ text-align:center; }
.highlight_product{ position:relative; }
.highlight_product a{ position:absolute; top:0; left:0; width:100%; height:100% }
.highlight_product-txt{ position:absolute; left:5%; width:90%; bottom:5%; background:var(--white); padding:20px; text-align: center;}
.highlight_product-txt span, .highlight_product-txt p{ font-size:80% }
.highlight_product-txt h3{ font-size:1rem  }
.explore_cnt{ text-align:center; display:flex; flex-direction:column; justify-content:center; gap: 50px; align-items:center;  padding:30px 50px }
.explore_cnt h3{ font-size:3rem; font-weight:600 }
.explore_cnt span, .heading span{ font-size:80%; text-transform:uppercase; letter-spacing:1px }

.heading h3{}
.partner_logo a{ padding:20px; display:block; text-align:center; }
.partner_logo img{ width:auto; max-height: 80px; }

/*Product slider*/
.product_area{ position:relative; overflow:hidden; }
.product_area:hover img{ transform:scale(1.1); }
.product_area img{ width:100% } 
.product_cnt{ position:absolute; left:0; top:0; width:100%; height:100%; padding:0px; display:flex; flex-direction:column; justify-content:flex-end; z-index: 1;}
.prod_favorite{ position:absolute; right:10px; top:10px; z-index: 1; background: var(--white); border-radius: 100%; width: 30px; height: 30px; text-align: center; line-height: 31px}
.prod_favorite:hover{ background:var(--primary); }
.prod_favorite:hover i{ color:var(--white); }
.prod_favorite i{ font-size: 1.125rem; color:var(--primary); }
.product_cnt h4{ font-weight:500; background:rgba(var(--white_rgb),.8); font-size:1rem; padding:7px; margin:0 }
/*.product_cnt:hover h4{background:var(--primary); color:var(--white);}*/