.header_section .header_top .contact_nav .language_translate a{color: #000}
.header_section .header_top .contact_nav .goog-te-gadget-simple{ display:flex;}
.header_section .header_top .contact_nav .goog-te-gadget-simple>span>a>span:first-child{ min-width:110px }


.client_logo ul.col8 {width: auto !important; } 
.client_logo ul.col8 {display: grid ; gap: 0; grid-template-columns: repeat(5, 1fr); grid-template-rows: masonry; width: 940px; margin: 0 auto; } 
.client_logo ul {margin: 0; padding: 0; list-style: none; } 
.client_logo ul.col8 li {position: relative; } .client_logo ul li {border-right: 1px solid rgba(0,0,0, 0.3); border-bottom: 1px solid rgba(0,0,0, 0.3); }
.client_logo ul li .feature-wrap {display: block; transition: .5s ease all; cursor: default; position: relative; } 
.client_logo ul li .feature-wrap:after {content: ''; display: block; padding-bottom: 100%; }
.client_logo ul li .feature-wrap div{ position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.client_logo ul li .feature-wrap h3{ font-size:16px; font-weight:600 }
.client_logo ul li .feature-wrap i{ font-size:50px; margin-bottom:30px; position:relative; display:inline-block; }
.client_logo ul li .feature-wrap i:after{content: ''; aspect-ratio: 1; border-radius: 100%; display: block; background: rgba(0,0,0, 0.3); position: absolute; left: 50%; top: 50%;transform: translate(-50%, -50%);}

