.newsletter_section{background: $info;color: $white; border-radius: 10px;
	.text_msg{text-align:center;
		h2,p{color: $white;}
		p{width:80%;margin:0 auto 40px; }
	}
	.newsletter .note span,.newsletter .note{opacity: 1}
}