/* Custom Styles for Expanded Metal Company Website */

/* Responsive */
@media (max-width: 768px) {
  .section-title {font-size: 1.5rem; } 
  .subheading {font-size: 1rem; }
}
  
@media (min-width: 1200px) {
  .h3, h3 {font-size: 2rem;  font-weight:400 }
  .h4, h4 {font-size: 20px; font-weight:400 }
  .container-fluid{ padding-left:50px !important; padding-right:50px !important }
}