
//Theme Colors
$primary		:		#0F0049;
$secondary		:		#F63A61;

$primary_bg		:		#00063F;

$info			:		#0A85EA;
$success 		:		#0F9D58;

$white			: 		#fff;
$black			:		#000;
$color__dark 	: 		#111827;
$gray			:		#F6F5F8;
$gra1			:		#EAEAEA;
$color__text	:		#666;