header{
	.top_strip{background: $white;
		.container{ padding:30px 0; border-bottom:1px solid rgba(0, 0, 0, .1); }
		a{ color:$color__dark; cursor: pointer;font-weight: 500;
		&.nav-link{ padding: 5px 17px !important;display: inline-block;}
			&:hover{color:$secondary}
		}
		&.fixed-top{
			.container {padding:0px 15px 5px 15px;}
		}
	}
}