@media (min-width: 1300px){
}

@media (max-width: 1100px){
	.navbar-brand img{ width:170px }
	.banner_cnt h1{ font-size:3rem }
	.yogacenter_one, .yogacenter_two, .yogacenter_three, .yogacenter_four{ width:35% }
	.course_slider{ padding: 0 50px 100px;}
	.course_slider:after, .course_slider:before{ width:60px }
	.swiper-button-next{ right:0 } 
	.swiper-button-prev{ left:0 }
	.book_img{ top:40% }
	.event_slider .swiper-button-next{right: 20%;}
	.event_slider .swiper-button-prev {left: 20%;}
	.event_slider .swiper-slide.swiper-slide-active .event{ width:150%; margin:0 -25% 0; }
	.event_slider .swiper-button-next, .event_slider .swiper-button-prev{top: 90%; }
	.testimoial_cnt {width: 80%;}
	.partner_logo li{ width:20% }
	.partner_logo li img{ width:100%;max-width:120px }
	.logo img{ width:140px }
	.section_heading{ background-size:140px auto }
	header{padding: 0 15px;}
	.price_area h2{padding: 0 100px;}
}

@media (min-width: 991.98px){
}

@media (max-width: 991.98px){  
	.event_slider .swiper-slide.swiper-slide-active .event{ width:110%; margin:0 -7% 0; }
	.event_slider .event {margin-top: 10%; }
	.event_slider .swiper-button-next{right: 18%;}
	.event_slider .swiper-button-prev {left: 15%;}
	.event_slider .swiper-button-next, .event_slider .swiper-button-prev{top: 92%; }
	.price_area h2{padding: 0 20px; font-size: 2rem;}
	.pricing_heading{ padding:30px 20px 100px }
	.price_rate{ font-size: 3rem; }
	.newsletter_area h3 {font-size: 2rem;}
	.navbar-brand img {width: 130px; }
	.navbar>.container .navbar-toggler{ margin-top:-30px }
	.banner{margin-bottom: 50px;}
	.burger{ padding:80px 0 }
	.burger-t{ padding-top:80px }
	.burger-b{ padding-bottom:80px }
	.coursedate a, .profile_nm{ text-align:left; }
	.profile_nm span{ width:30px; line-height: 30px; }
	.footer_area{ padding:80px 0 }
}

@media (min-width: 767px.98px){
}

@media (max-width: 767px){
	.top_action_link ul li a>span{ display:none }
	.top_action_link ul li a>span i{ display:inline-block; }
	.banner_cnt h6{font-size: 1.25rem; margin-top: 30px}
	.banner_cnt h1 {font-size: 2rem; }
	.banner{ padding-top:50px }
	.yogacenter_one, .yogacenter_two, .yogacenter_three, .yogacenter_four{ position:relative; right:auto; left:0; bottom:auto; text-align:left; width: 100%}
	.yogacenter_one, .yogacenter_three{ flex-direction: row-reverse; }
	.yogacenter{ padding:0 }
	.yogacenter img{ margin-bottom:30px }
	.yogacenter_one .yogacenter_icn, .yogacenter_two .yogacenter_icn, .yogacenter_three .yogacenter_icn, .yogacenter_four .yogacenter_icn{ width:40px; line-height: 40px; }
	.section_heading h2{ font-size:2rem }
	.course_slider {padding: 0 50px 50px; }
	.course_slider:after, .course_slider:before, .course_slider .swiper-button-next, .course_slider .swiper-button-prev{ display:none }
	.navbar>.container{ padding:0 }
	.navbar-brand img {width: 80px; }
	.banner{ padding-bottom:50px; margin-bottom:0 }
	.banner, .navbar>.container .navbar-toggler{ margin-top:0px }
	.burger{ padding:50px 0 }
	.burger-t{ padding-top:50px }
	.burger-b{ padding-bottom:50px }
	.banner_cnt{ text-align:center; }
	.top_action_link a i{ margin-right:0 }
	.booksection_area{ text-align:center; }
	.book_img{ position:relative; top:auto; left:auto; margin-top:20px }
	.event_slider .swiper-slide.swiper-slide-active .event_cnt{ display:block; }
	.event_slider .swiper-slide.swiper-slide-active .event{ width:90%; margin:0; }
	.event_slider .swiper-button-next, .event_slider .swiper-button-prev{ top:50% }
	.event_slider {width:96%; margin-left: 5%;}
	.event_cnt {padding: 10px 20px 20px;}
	.event_cnt .gap-4{gap: .5rem !important;}
	.event_cnt div:last-child{ margin-top:20px }
	.price_area h2{ font-size: 1.5rem;}
	.pricing{ margin:20px auto }
	.footer_area{ width:100%; box-shadow:none }
	.map {position: relative;}
	.partner_logo,.horizontal_list{ flex-wrap:wrap; }
	footer {padding-top: 0; }
	.top_strip .nav-link.active:after, .top_strip .nav-link.active:before{ display:none }
	.top_strip .nav-link{ padding-left:0 !important }
	.btn.btn-sm {padding: 3px 7px;}
	.profile_nm span{ margin-right:5px }
	.profile_nm	{font-size: 10px;}
	.newsletter_area p{ margin-bottom:20px }
	.testimoial_cnt p{ font-size:1.2rem }
	.blogs{ margin:15px auto }
	.footer_col h3{ margin:20px 0 }
	footer .newsletter{ margin-bottom:20px }
	footer .text-center{ text-align:left !important; }
	.footer_area{ padding:50px 0 }
}

@media (max-width:575.98px){
}

@media (max-width:420px){
}